body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  background: gray;
  width: 100%;
}



nav a {
  color: white;
  text-decoration: none;
  padding: 10px 5px;
}

nav a:hover {
  color: gray;
  background: white;
}

main {
  margin-top: 50px;
}

@media (max-width: 500px) {
  nav {
    bottom: 0;
    top: auto;
  }
  main {
    margin-top: auto;
  }
}