@font-face {
  font-family: 'airinregular';
  src: url('../fonts/airin-webfont.woff2') format('woff2'),
       url('../fonts/airin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

nav {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  background-image: linear-gradient(to bottom, rgba(68, 99, 156, 0.6), rgba(255,255,255,0));
  width: 100%;
  height: 90px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: #353535 solid 2px; */
}

#nameLogo {
  font-family: airinregular;
  font-size: 2.5em;
}
#nameLogoSmall {
  font-family: airinregular;
  font-size: 2em;
  font-weight: bold;
  display: none;
}

#linksContainer {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.navButton, .navButton a {
  color: white !important;
}

.navButton:hover, .navButton a:hover {
  color: #1166b1 !important;
}

@media (max-width: 500px) {
  #nameLogo {
    display: none;
  }
  #nameLogoSmall {
    display: block;
  }
  nav {
    height: 60px;
    background: rgba(31, 82, 177,1);
    box-shadow: 2px 2px 5px gray;
  }
  .navButton {
    font-size: .8em !important;
  }
  .navButton:hover, .navButton a:hover {
    color: white !important;
  }
  .navButton:hover {
    border: 1px solid white;
  }
}

@media (max-width: 400px) {
  #nameLogo {
    display: none;
  }
  #nameLogoSmall {
    display: none;
  }
}