.menu {
  position: absolute;
  display: none;
  /* top: -10; */
  background: white;
  color: black;
  /* padding: 10px 30px; */
}

.menu:hover {
  display: block;
}

.menuLink {
  padding: 15px;
  text-align: left;
}

.menuLink:hover {
  background: gray;
}